{% extends "admin/layout.twig" %}
{% block title %} {{l.home.28}}{% endblock %}

{% block content %}

{% include "admin/elements/stockModals.twig" %}



<!-- Main content -->
<div class="content-wrapper">


{% include "admin/stockGeneral/header.twig" %}



<!-- Content area -->
<div class="content">


{% include "admin/elements/flash.twig" %}


<div class="panel panel-flat">

           
                
                    <table class="table entreetable" >
                        <thead>
                            <tr>
                                <th><b> التاريخ </b></th>
                                <th><b> المنتوج  </b></th>
                                <th><b> ملاحظة </b></th>
                                <th><b> الكمية </b></th>
                                <th style="width:300px;"><b> تأكيد  </b></th>
                                <th><b> رؤية التفاصيل  </b></th>
                            </tr>
                        </thead>
                        <tbody>  
                 
                             
                        {% for item in HistoryEntree %}
                         <tr>
                             <td >N-A</td>
                             <td>{{ item.product.name }}</td>
                             <td>N-A</td>
                             <td>{{ item.sum_quantity }}</td>
                             <td style="width:300px;">{{item.sum_valid}} </td>
                             <td><a href="javascript:;" data-product='{{ item.product.id }}'><i class="icon-eye"></i></a></td>
                         </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                
               
                

          
        </div>






{% if stocks is not empty %}

 
                {#<div class="table-responsive tablodyali">#}
                
                <div class="panel panel-flat">
                    <table class="table  entreetable" >
                        <thead>
                            <tr>
                                <th><b> التاريخ </b></th>
                                <th><b> المنتوج [REF] </b></th>
                                <th><b> ملاحظة </b></th>
                                <th><b> الكمية </b></th>
                                <th style="width:150px;"><b> تأكيد  </b></th>
                                <th><b> الحالة  </b></th>
                            </tr>
                        </thead>
                        <tbody>  
                
                         
                        {% for item in stocks %}
                         <tr id="item-{{item.id}}">
                             <td >{{ item.created_at|dateOnly }}</td>
                             <td>{{ item.product.name }}</td>
                             <td>{{ item.note }}</td>
                             <td>{{ item.quantity }}</td>
                             <td style="width:150px;">
                             
                             {% if item.statue ==  '1' %}
                             {{item.valid}}
                             {% else %}
                             <input  type="number" class="form-control validChange" data-valid='{{item.id}}'>
                             {% endif %}                             
                             </td>
                             <td>
                                 <label class="adminswitch">
                                    <input name='active' data-entree='{{item.id}}' class="activate_me" type="checkbox"  value="active"  {% if item.statue == '1' %} checked {% endif %}/>
                                    <span class="slider round"></span>
                                </label>
                             </td>
                         </tr>
                        {% endfor %}
                            
                            
                            
                        </tbody>
                    </table>
                </div>
               
                
        {#</div>#}

{% endif %}


</div>
</div>
{% endblock %}