<style>
span.badge.bg-purple.mynots {
    left: 0 !important;
    position: absolute;
}

ul.breadcrumb-elements.not-collapsible li {
    padding-left: 10px;
}    
</style>


<!-- Page header -->
<div class="page-header page-header-default">
<div class="page-header-content">
    <div class="page-title">
        <h4><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">المخزون العام</span></h4>
    </div>
    
    
    

<div class="heading-elements">
<a href="javascript:;" data-toggle="modal"  data-target="#addMoreGeneralStock" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-plus3"></i></b>اضافة السلعة للمخزون</a>




<div class="btn-group">
<a href="javascript:;" data-toggle="modal"  data-target="#addSortieGeneralStock" class="btn bg-teal-400 btn-labeled dropdown-toggle" ><b><i class="icon-reading"></i></b> تصدير السلعة من المخزون</a>


</div>


</div>
</div>
        <div class="breadcrumb-line">
<ul class="breadcrumb">
    <li><a href="{{path_for('admin.index')}}" title="{{l.bread.1}}"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
    <li class="active" title="{{l.users.1}}" >{{l.users.1}}</li>
</ul>
<ul class="breadcrumb-elements not-collapsible  ">
<li><a href="{{path_for('stockGeneral')}}" id="show_search_box">المتبقي </a></li>
<li><a href="{{path_for('stockGeneral.create.sortie')}}" id="show_search_box">
<span class="badge bg-purple mynots">{{nots.sortie}}</span>

الخروج </a>

</li>
<li>
<!--<span class="badge bg-danger">9</span>-->
<a href="{{path_for('stockGeneral.create.entree')}}" id="show_search_box">

<span class="badge bg-purple mynots">{{nots.entree}}</span>

الدخول </a>

</li>
</ul>

</div>
    
    
</div>
<!-- /page header -->
