{% extends "admin/layout.twig" %}
{% block title %} {{l.home.28}}{% endblock %}

{% block content %}

{% include "admin/embalage/embalageModals.twig" %}






<!-- Main content -->
<div class="content-wrapper">


{% include "admin/embalage/embalageHeader.twig" %}




<!-- Content area -->
<div class="content">

{% include "admin/elements/flash.twig" %}


<div class="modal fade" id="DetailsModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body"> 
      

      </div>
  </div>
</div>
</div>
            {#<div class="panel-body text-center">#}

                {#<div class="table-responsive tablodyali">#}
                
                <div class="panel panel-flat tbaiel">
                    <table class="table datatable" >
                        <thead>
                            <tr>
                            
                                <th><b> المنتوج [REF] </b></th>
                                <th><b> الدخول </b></th>
                                <th><b> الخروج </b></th>
                                <th><b> المتبقي </b></th>
                            </tr>
                        </thead>
                        <tbody>  
                        {% for item in stockList %}
                         <tr>
                            
                             <td>{{ item.product_name }}</td>
                             <td>{{ item.total_entree }}</td>
                             <td>{{ item.total_sortie  }}</td>
                             <td>{{ item.total_entree - item.total_sortie  }}</td>
                         </tr>
                        {% endfor %}   
                        </tbody>
                    </table>
                </div>
               
                {#</div>#}

            {#</div>#}
       


</div>

</div>
{% endblock %}