{% extends "admin/layout.twig" %}
{% block title %} الطلبات عند الموظفات {% endblock %}

{% block content %}

<div class="page-header page-header-default ">
<div class="page-header-content">
<div class="page-title">
<h1> <span class="text-semibold"><i class="icon-arrow-right6 position-left goback"></i>


{% if type == 'suivi'%}
لجنة المتابعة
{% else %}
الطلبات عند الموزعين
{% endif %}




</span></h1>
</div>
</div>


<div class="breadcrumb-line">
   <ul class="breadcrumb-elements">
   <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            عرض
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right limitPerPage_dropdown">
            {% for i in 0..25 %}
                <li><a href="{{ i * 5 }}">{{ i * 5 }}</a></li>    
            {% endfor %}
            <li><a href="200">200</a></li>
        </ul>
    </li>





   

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            
حسب الموزع            
<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right deliver_dropdown">
            <li><a href="all"> الكل </a></li>
            {% for employee in ALLDELIVERS %}
            <li><a href="{{employee.id}}">{{employee.username}}  </a></li>
            {% endfor %}
        </ul>
    </li>

<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            
            ترتيب
            <span class="caret"></span></a><ul class="dropdown-menu dropdown-menu-right order_dropdown"><li><a href="DESC"> تنازلي </a></li><li><a href="ASC"> تصاعدي  </a></li></ul></li>
    </ul>


 </div>


 
</div>
 


<!-- Content area -->
<div class="content">
        
{% include "admin/elements/flash.twig" %}





<div class="panel mg-t-45 ">
   
    <table class="table  bawaba-tables" >
        <thead>
            <tr>
                <th><b><span class="num_num"></span><input type="checkbox" id="checkAll"></b></th>
                <th><b>رقم الطلب</b></th>
                <th><b>الإسم الكامل</b></th>
                <th><b>رقم الهاتف</b></th>
                <th><b>المنتوجات</b></th>
                <th><b>رؤية المعلومات</b></th>
                <th><b>الموظفة</b></th>
                <th><b>الحالة</b></th>
                <th><b>الموزع</b></th>
                <th><b>History</b></th>
                <th><b>تعديل</b></th>
            </tr>
        </thead>
        <tbody>  
        {% for item in lists %}
             <tr class='row_{{item.id}}'>
                 <td><input class="check" type="checkbox" data-item="{{item.id}}"></td>
                 <td>#{{item.id}}</td>
                 <td>{{item.name}}</td>
                 <td><a href="tel:{{item.tel}}">{{item.tel}}</a></td>
                 <td>
                  <table class="list_products">
                        {% set total = 0 %}
                        {% for product in item.products %}
                        <tr>
                            <td> {{product.quanity}} </td>
                            <td> x {{product.product.name}} </td>
                        </tr>
                        {% set total = (total + product.price) %}
                        {% endfor %}
                        <tr> <td colspan="2">المجموع : {{total}} درهم</td></tr>
                  </table>
                 </td>
                <td><a type="button" data-action='true' class="btn btn-primary btn-lg loadDeliveractions" data-listID='{{item.id}}'>رؤية المعلومات</a></td>
                <td> <label for="" class="label-city-op"> {{item.type}}</label> </td>            
                <td>{{item.employee.username}} </td>            
                <td>{{item.deliver.username}}</td>
                <td class="text-center"> 
                  <a href="javascript:;"  data-id='{{item.id}}' class='btn btn-success show_history'>history</a </td>

            <td><a class="btn btn-warning" href='{{path_for("lists.edit",{id : item.id})}}'>تعديل</a></td>
          
         </tr>
        
         {% endfor %}   
        </tbody>
    </table>
</div>

    </div>
 
<center>{{pagination|raw}}</center>







{% endblock %}  