{% extends "admin/layout.twig" %}
{% block title %} رفع الملفات {% endblock %}

{% block content %}

<!-- Page header -->
<div class="page-header page-header-default ">
<div class="page-header-content">

<div class="page-title">
<h1> <span class="text-semibold"><i class="icon-arrow-right6 position-left goback"></i>
               البحث
</span></h1>
</div>

<div class="heading-elements colored_heading">

 
                    

  <a href="javascript:;" data-target="#uploadSheetModal" data-toggle="modal" class="btn bg-danger btn-labeled heading-btn pull-right">
                    <b><i class="icon-plus3"></i></b>رفع الملفات
                    </a> 
                    
                    
 
                    {% if view == 'deleted' %}  
                    <a href="javascript:;" style="margin-left:10px;"  data-target="#RestoreNewOrdersModal" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn">
                    <b><i class="icon-plus3"></i></b>
                    استرجاع المحذوفة
                     <span class="num_num"></span> 
                    </a>

                     <a href="javascript:;" style="margin-left:10px;"  data-target="#removeOrdersModal" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn">
                    <b><i class="icon-plus3"></i></b>
                    حذف بشكل كلي
                     <span class="num_num"></span> 
                    </a>
                    
                    
                    {% endif %}
 
 
 
                  

                       {% if view != 'deleted' and view != 'duplicated' %} 

                          <a href="javascript:;" data-target="#SendOrdersToEmployees" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn">
                    <b><i class="icon-plus3"></i></b>تعيين الطلبات الى الموظفات  <span class="num_num"></span> 
                    </a>
                    

                        <a href="javascript:;" style="margin-right:10px;"  data-target="#CitiesModal" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn">
                    <b><i class="icon-plus3"></i></b>
                    
                    
                    تعيين الطلبات الى مدينة
                     <span class="num_num"></span> 
                    </a>
                
                   
                     <a href="javascript:;" style="margin-right:10px;"  data-target="#setOrdersToProduct" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn bg-warning">
                    <b><i class="icon-plus3"></i></b>
                    
                    تعيين الطلبات الى منتوج
                     <span class="num_num"></span> 
                    </a>


                     <a href="javascript:;" style="margin-right:10px;"  data-target="#deleteOrdersModal" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn fkfkj">
                    <b><i class="icon-plus3"></i></b>
                    
                    
                    حذف الطلبات
                     <span class="num_num"></span> 
                    </a>

                   
                  
                    
                    {% endif %}
 
 
 
 
                    {% if view == 'duplicated' %} 
   <a href="javascript:;" style="margin-right:10px;"  data-target="#deleteOrdersModal" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn fkfkj">
                    <b><i class="icon-plus3"></i></b>
                    
                    
                    حذف الطلبات
                     <span class="num_num"></span> 
                    </a>
                     <a href="javascript:;" style="margin-right:10px;"  data-target="#RestoreFromDuplicated" data-toggle="modal" class="btn bg-primary btn-labeled heading-btn bg-purple">
                    <b><i class="icon-plus3"></i></b>
                    
                   استرجاع من المكررة 
                     <span class="num_num"></span> 
                    </a>
                    
                     {% endif %}
 




</div>



</div>

<div class="breadcrumb-line">
<ul class="breadcrumb">
       <li><a href="/?view=deleted">  ({{NewOrdersStats.deleted}})          الطلبات المحذوفة</a></li>
       <li><a href="/?view=duplicated">  ({{NewOrdersStats.duplicated}})            الطلبات المكررة</a></li>
       <li><a href="/?view=sheets">  ({{NewOrdersStats.sheet}})    Google Sheets     </a></li>
       <li><a href="/?view=stores">  ({{NewOrdersStats.stores}})     من المتاجر  </a></li>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            
            عدد الطلبات في الصفحة
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right limitPerPage_dropdown">
                <li><a href="5">5</a></li>                              
                <li><a href="10">10</a></li>                              
                <li><a href="15">15</a></li>                              
                <li><a href="20">20</a></li>                              
                <li><a href="25">25</a></li>                              
                <li><a href="30">30</a></li>                              
                <li><a href="30">30</a></li>                              
                <li><a href="35">35</a></li>                              
                <li><a href="40">40</a></li>                              
                <li><a href="45">45</a></li>                              
                <li><a href="50">50</a></li>                              
                <li><a href="55">55</a></li>                              
                <li><a href="60">60</a></li>
                <li><a href="60">60</a></li>
                <li><a href="70">70</a></li>
                <li><a href="80">80</a></li>
                <li><a href="90">90</a></li>
                <li><a href="100">100</a></li>
                <li><a href="200">200</a></li>
        </ul>
    </li>
    
</ul>

   <ul class="breadcrumb-elements">
  
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            
            حسب المدينة
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right city_dropdown">
            {% for city in ALLCITIES %}
            <li><a href="{{city.id}}">{{city.city_name}}  </a></li>
            {% endfor %}
        </ul>
    </li>
    
    
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            
            حسب المنتوج
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right product_dropdown">
              {% for product in ALLPRODUCTS %}
                  <li><a href="{{product.id}}">{{product.name}}</a></li>                              
              {% endfor%}
        </ul>
    </li>
    

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            
            ترتيب
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right order_dropdown">
            <li><a href="DESC"> تنازلي </a></li>
            <li><a href="ASC"> تصاعدي  </a></li>
        </ul>
    </li>
<li>
    
  <a href="javascript:;" id="show_search_box"><i class="icon-search4 position-left"></i>بحث </a>
</li>

 

    </ul>


 </div>

</div>
<!-- /page header -->

   
   
   
   
  
<!-- Content area -->
<div class="content">



{% include "admin/elements/flash.twig" %}
{% include "admin/data/modals.twig" %}




<div class="panel panel-flat" id="search_box" >
    <div class="panel-heading">
        <h5 class="panel-title">


          ادخل رقم الهاتف<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">
        <form action="{{path_for('pages.find')}}" method="GET" class="main-search">
            <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">
                    <input value="{{number}}" type="text" class="form-control input-xlg" placeholder="رقم الهاتف" name="q">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-muted text-size-base"></i>
                    </div>
                </div>

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-xlg">بحث</button>
                </div>
            </div>
        </form>
    </div>
</div>




<input type="hidden" id="ids" name="list">
  

  

<div class="mg-t-25">
   <div class="table-responsive">
    <table class="table table-bordered bawaba-tables">
        <thead>
            <tr>
                <th><b><input type="checkbox" id="checkAll" /></b></th>
                <th><b>تاريخ </b></th>
                <th><b>الإسم ورقم الهاتف</b></th>
                <th><b>العنوان</b></th>
                <th><b>الحالة</b></th>
                <th><b>المنتوج</b></th>
                <th><b>المصدر</b></th>
            </tr>
        </thead>
        <tbody>  
        
        
        {% for item in lists %}
        
        {% if item.select == 'new' %}
        <tr class='listingOrdersTR'>
             <td>
              <div class="box">
              <span class="checkmark"></span>
              <input class='check' type="checkbox" data-item='{{item.id}}'>
              </div>
             </td>
             <td>{{item.created_at}}</td>
             <td>{{item.name}}
             <br>
             <a href="tel:{{item.tel}}" class="tel">
             <label for="" class="label bg-violet-700">{{item.tel}}</label>
             </a>
             </td>
             <td>{{item.adress}} 
             <br>
             <label for="" class="label label-primary">{{item.city}}</label>
             </td>
             <td>{{item.type}} </td>
             <td>{{item.ProductReference}} X {{item.quantity}} = {{item.price}} </td>    
             <td>{{item.source}} </td>    
         </tr>
         {% else %} 
            <tr class='listingOrdersTR'>
             <td>
              <div class="box">
              <span class="checkmark"></span>
              </div>
             </td>
             <td>{{item.created_at}}</td>
             <td>{{item.name}}
             <br>
             <a href="tel:{{item.tel}}" class="tel">
             <label for="" class="label bg-violet-700">{{item.tel}}</label>
             </a>
             </td>
             <td>{{item.adress}} 
                    <span class="label label-success city-data">{{item.cityName}}</span>
             <br>
             </td>
             <td>{{item.type}} </td>
             <td>
                 <table class="list_products">
                    {% set total = 0 %}
                    {% for product in item.products %}
                    <tr>
                        <td> {{product.quanity}} </td>
                        <td> x {{product.product.name}} </td>
                    </tr>
                    {% set total = (total + product.price) %}
                    {% endfor %}
                    <tr> <td colspan="2">المجموع : {{total}} درهم</td></tr>
             </table>
             </td>    
             <td>{{item.source}} </td>    
             </tr>
            
         {% endif %}
         {% endfor %}   
        </tbody>
    </table>
    </div>
</div>
<div class="" style="margin-top: 25px;">
    <center>{{pagination|raw}}</center>
</div>




</div>
{% endblock %}